services:
  db:
    image: postgres:16-alpine
    container_name: next_postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:password@db:5432/mydb?schema=public"
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && npm start"

volumes:
  postgres_data: